Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/dmozModelTitlesBB.joblib filter=lfs diff=lfs merge=lfs -text
Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/glove.twitter.27B.100d.txt filter=lfs diff=lfs merge=lfs -text
Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/102500DmozShuffled.csv filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/README filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/results filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/test_models filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/train_bb.py filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/bb_model.h5 filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/bb_model_strong.h5 filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/dmoz_3.csv filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint_2_ML_Model/keras_to_tfjs.txt filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/dataset(dmoz,[[:space:]]url)[[:space:]]statics.txt filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/102500DmozShuffled.csv filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/CMPS_115_Better_Bookmarks_ML_Model_Training.ipynb filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/dmozModelTitlesBB.joblib filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/glove.twitter.27B.100d.txt filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/Main_Traning_Code/README filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts/clean_dmoz.py filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts/dmoz_categories.py filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts/dmoz_cleaned.csv filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts/ml_data filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts/process_dmoz.py filter=lfs diff=lfs merge=lfs -text
Sprint_Misc/Sprint[[:space:]]1[[:space:]]ML[[:space:]]Model/ml_data_scripts/README filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
