/*
 * file        : modal.css
 * description : This file contains all of the CSS styling for both
 *               of the modal popups in the extension.
 *
 * NOTES:        
 *   * This styling is lightly modified CSS styling from w3schools.com. 
 *     Link to the site where we found the style guide:
 *     https://www.w3schools.com/howto/howto_css_modals.asp
 */
 
.modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 2px;
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 1;
}

/* Modal Content */
.modalContent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to   {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to   {top:0; opacity:1}
}

/* Close button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal header */
.modalHeader {
    padding: 1px 15px;
    background-color: dimgray;
    color: white;
}

.modalBody {padding: 2px 16px;}

/* 'Name' field */
.bmarkName {
    width: 80%;
    padding: 1px 1px;
    margin: 7px 0 0 0;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid silver;
}

/* 'Folder' dropdown */
.bmarkParent {
    width: 79%;
    padding: 1px 1px;
    margin: 7px 0 0 0;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid silver;
}

/* 'Create' button */
.saveBmark {
    background-color: dimgray;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin: 7px 90px 7px;
}