.button {
    background-color: #555555; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),
                0 5px 5px 0 rgba(0,0,0,0.19);
}
