/*
 * File        : popup.css
 * Description : This file contains the main CSS rules for the
 *               popup extension whose HTML code is in popup.html.
 *               
 * NOTES:
 *   * Block items occur on their own lines and extend
 *     to the full left and right widths available.
 */
body {
    background-color: #FFEBCD;
    width: 350px;
}
form {
    margin: 5px;
}
div {
    margin: 0;
    padding: 0;
}
#logo {
    margin: 10px;
}
i {
    padding-right: 8px;
}
a {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
}
/* 'Better Bookmarks logo. */
img {
    padding: 0 7px;
    width:250px;
    height:125px;
}
/* File folder Icon. */
#folderIcon {
    font-size: 12px;
}
#linkIcon {
    font-size: 15px;
}
/* Button for adding a new Bookmark. */
#addNewBookmarkBtn {
    background-color: #FF6666;
}
#addNewBookmarkBtn:hover {
    background-color: #FFFFCC;
    color: black;
}
#addNewBookmarkFolderBtn {
    background-color: #CCCCFF;
    padding-left: 22px;
    padding-right: 22px;
}
#addNewBookmarkFolderBtn:hover {
    background-color: #FFFFCC;
    color: black;
}
#bookmarkContent {
    border-top: 3px solid grey;
    width: 97%;
}
.btn {
    border: 2px solid #FFCC99;
    border-radius: 2px;
    color: white;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 4px;
}
/* Bookmark Searchbar. */
.searchBar {
    width: 65%;
    padding: 1px 1px;
    margin-top: 13px;
    margin-left: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid silver;
}
/* Searchbar search button. */
.searchButton {
    background-color: white;
    border: 1px solid dimgrey;
    border-radius: 2px;
    color: dimgrey;
    cursor: pointer;
}
.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexCenterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.accordion {
    background-color: inherit;
    cursor: pointer;
    padding: 12px;
    width: 250px;
    display: block;
    text-align: left;
    color: inherit;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: lightgrey;
}
.panel {
    display: none;
    padding: 0 20px;
    background-color: inherit;
    overflow: auto;
}
.panel a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
.panel a:hover {
    background-color: lightgrey;
}
