/*
 * File        : popup.css
 * Description : This file contains the main CSS rules for the
 *               popup extension whose HTML code is in popup.html.
 *               
 * NOTES:
 *   * Block items occur on their own lines and extend
 *     to the full left and right widths available.
 */
form {
    margin: 5px;
}
div {
    margin: 0;
    padding: 0;
}
a {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
}
/* 'Better Bookmarks logo */
img {
    padding: 0 7px;
}
/* Button for adding a new Bookmark */
.newBmark {
    background-color: #555555;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-left: 20px;
}
/* What changes when you hover the button */
.newBmark:hover {
    border: 1px solid dimgrey;
}
/* Button for adding a new Folder */
.newFolder {
    background-color: white;
    border: 1px solid dimgrey;
    border-radius: 2px;
    color: dimgrey;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-left: 24px;
}
/* What changes when you hover the button */
.newFolder:hover {
    background-color: #555555;
    color: white;
    border: 2px solid dimgrey;
}
/* Bookmark Searchbar */
.searchBar {
    width: 65%;
    padding: 1px 1px;
    margin-top: 13px;
    margin-left: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid silver;
}
/* Searchbar search button */
.searchButton {
    background-color: white;
    border: 1px solid dimgrey;
    border-radius: 2px;
    color: dimgrey;
    cursor: pointer;
}
.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.accordion {
    background-color: inherit;
    cursor: pointer;
    padding: 12px;
    width: 250px;
    display: block;
    text-align: left;
    color: inherit;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: lightgrey;
}
.panel {
    display: none;
    padding: 0 18px;
    background-color: inherit;
    overflow: auto;
}
.panel a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
.panel a:hover {
    background-color: lightgrey;
}
#bookmarkContent {
    border-top: 3px solid grey;
    width: 97%;
}