/*
 * file        : popup.css
 * description : This file contains the main CSS rules for the
 *               popup extension whose HTML code is in popup.html.
 *               
 * NOTES:
 *   * Block items occur on their own lines and extend
 *     to the full left and right widths available.
 *
 */
form {
    margin: 5px;
}
div {
    margin: 0;
    padding: 0;
}
a {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.accordion {
    background-color: inherit;
    cursor: pointer;
    padding: 12px;
    width: 250px;
    display: block;
    text-align: left;
    color: inherit;
    text-decoration: none;
    outline: none;
    border: none;
    transition: 0.4s;
}
.active, .accordion:hover {
    background-color: lightgrey;
}
.panel {
    display: none;
    padding: 0 18px;
    background-color: inherit;
    overflow: auto;
}
.panel a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
.panel a:hover {
    background-color: lightgrey;
}
#bookmarkContent {
    border-top: 3px solid grey;
}
.button1 {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 5px 36px;
}
.button1:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2),
                0 5px 5px 0 rgba(0,0,0,0.19);
}
