<!DOCTYPE html>
<html>
	<head>
		<title>
            New Bookmark
		</title>
	</head>
    <body>
        <div id="titleEntryDiv">
            Name: <input type="text" name="titleEntry">
        </div>
        <div id="folderEntryDiv">
            Folder:
            <select id="category">
                <option value="Arts">Arts</option>
                <option value="Business">Business</option>
                <option value="Computers">Computers</option>
                <option value="Games">Games</option>
                <option value="Health">Health</option>
                <option value="Home">Home</option>
                <option value="News">News</option>
                <option value="Recreation">Recreation</option>
                <option value="Reference">Reference</option>
                <option value="Science">Science</option>
                <option value="Shopping">Shopping</option>
                <option value="Society">Society</option>
                <option value="Sports">Sports</option>
            </select>
            <script src="options.js"></script>
    </body>
</html>