<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../css/popup.css">
    </head>
    <body>
        <div id="searchBarDiv">
            <input type="text" name="searchBar" placeholder="Search Bookmarks">
        </div>
        <div id="optionsList">
            <ul id="options">
                <li id="showAll">
                    <a href="#">Show All BookMarks</a>
                </li>
            </ul>
        </div>
        <div id="folders">
            <script type="module" src="../js/add_bookmarks.mjs"></script>
        </div>
    </body>
</html>
