<!DOCTYPE HTML>
<html>
   <head>
        <!-- Stylesheets and Scripts !-->
       <link rel="stylesheet" type="text/css" href="../css/popup.css">
       <link rel="stylesheet" type="text/css" href="../css/modal.css">
       <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap"
             rel="stylesheet">
       <script type="module" src="../js/add_content.mjs"></script>
       <script type="module" src="../js/bmark_modal.js"></script>
       <script type="module" src="../js/folder_modal.js"></script>
       <script src="../js/tf.min.js"></script>
   </head>
   <body>
        <!-- Better Bookmarks logo !--> 
        <div id="logo">
                <img src="../BBlogo.png" alt="Extension logo" 
                     style="width:260px;height:104px">
        </div>
        <!-- Buttons to create bmark/folder !-->
        <div id="createNew">
            <button id="newBmark" class="newBmark">New Bookmark</button>
            <button id="newFolder" class="newFolder">Add a Folder</button>
        </div>
        <!-- Bookmark Searchbar !-->
        <div id="search">
           <form name="searchForm">
               <input class="searchBar" type="text" name="searchBar"
                      placeholder="Search Bookmarks">
               <input id="submit-btn" class="searchButton"
                      type="submit" value="Search">
           </form>
       </div>
       <!-- 'New Bookmark' Modal !-->
       <div id="bmarkModal" class="modal">
           <div class="modalContent">
               <div class="modalHeader">
                   <span id="bmarkSpan" class="close">&times;</span>
                   <h2>New Bookmark</h2>
               </div>
               <div class="modalBody">
                   <div> 
                        Name <input id="newName" class="bmarkName"
                                    type="text" value="Name">
                   </div>
                   <div> Folder
                       <select class="bmarkParent" id="bmarkDrop">
                       </select>
                   </div>
                   <div>
                       <button id="saveBmark" class="saveBmark">Create</button>
                   </div>
               </div>
           </div>
       </div>
       <!-- 'Add Folder' Modal !-->
       <div id="folderModal" class="modal">
           <div class="modalContent">
               <div class="modalHeader">
                   <span id="folderSpan" class="close">&times;</span>
                   <h2>New Folder</h2>
               </div>
               <div class="modalBody">
                   <div> 
                        Name <input id="newNameF" class="bmarkName"
                                    type="text" preset="Folder Name">
                   </div>
                   <div> Folder
                       <select class="bmarkParent" id="folderDrop">
                       </select>
                   </div>
                   <div>
                       <button id="saveFolder" class="saveBmark">Create</button>
                   </div>
               </div>
           </div>
       </div>
       <div id="bookmarkContent" class="flexContainer"></div>
   </body>
</html>
